<!doctype html>
<html>
<head>
    <title>🏠</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <style>
      body {
        background-color: #f7f7f7;
        font-family: "Roboto", sans-serif;
      }

      .container {
        max-width: 800px;
        margin: auto;
        padding-top: 30px;
      }

      .jumbotron {
        background-color: #fff;
        border: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        padding: 30px;
        text-align: center;
        color: #666;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      h1 {
        font-size: 40px;
        font-weight: bold;
        color: #f0ad4e;
        text-transform: uppercase;
        margin-bottom: 30px;
      }

      h2 {
        font-size: 15rem;
      }

      img {
        max-width: 200px;
        margin-bottom: 30px;
      }

      p {
        font-size: 20px;
        margin-bottom: 20px;
      }

      .btn {
        background-color: #f0ad4e;
        border: none;
        color: #fff;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: bold;
        margin-right: 20px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
      }

      .btn:hover {
        background-color: #f1c197;
      }

      .fa-user {
        margin-right: 10px;
      }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Let's Build a House!</h1>
        <h2>🏠</h2>

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
